.form {
  max-width: 40rem;
  margin: 2rem auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
  color:#000000;
  
}
.heading{
  color:#F0F0F0;
  margin-bottom:4%;
}
.form label{
  color:#F0F0F0!important;
}
.form input{
  background:#F0F0F0;
}
.formContainer{
  background: #224B7F;
  width: 40%;
  margin-top: 4%;
  margin-left: auto;
  padding: 2%;
  border-radius: 1em;
  margin-right: auto;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}
.errorMessage{
  margin-top:2%;
  background-color: rgb(161, 49, 49);
  text-align: center;
}

.actions a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-gray-300);
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions a:hover {
  background-color: var(--color-gray-800);
}

@media (max-width:480px){
  .formContainer{
    background: #224B7F;
    width: 80%;
    margin-top: 20%;
  }
}

@media (min-width:480px) and (max-width:768px){
  .formContainer{
    background: #224B7F;
    width: 60%;
    margin-top: 8%;
  }
}