.mainHeading {
  font-size: 3em;
  color: #000000;
  font-weight: 700;
}

.subHeading {
  font-size: 1.4em;
  margin-top: 4%;
  color: #000000;
}

@media(max-width:1300px) {
  .mainHeading {
    font-size: 2.4em;
    font-weight: 700;
  }

  .subHeading {
    font-size: 1.2em;
    margin-top: 4%;
  }
}

@media(max-width:1110px) {
  .mainHeading {
    font-size: 2.2em;
    font-weight: 700;
  }

  .subHeading {
    font-size: 1.1em;
    margin-top: 4%;
  }
}

@media(max-width:540px) {
  .mainHeading {
    font-size: 1.5em;
    font-weight: 700;
  }

  .subHeading {
    font-size: 1.1em;
    margin-top: 4%;
  }
}

@media(max-width:480px) {
  .mainHeading {
    font-size: 1.2em;
    font-weight: 700;
  }

  .subHeading {
    font-size: 1em;
    margin-top: 4%;
  }
}