.headings {
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 1%;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  margin-right: 2%;
  margin-top: 2%;
}

.selectBox {
  width: 10em;
  padding: 2.5%;
  background: #D4F1F4;
  border: 2px solid #ADD8E6;
  color: #000000;
}

#categoryList {
  padding: 5px;
}

@media (max-width:480px) {
  .headings {
    font-size: 1.2em;
    margin-top: 2%;
  }
}